.DS_Store
node_modules
*.csv

data/answers.csv
data/questions.csv
data/answers_photos.csv

data/partial/someanswers.csv
data/partial/somephotos.csv
data/partial/somequestions.csv

db/clean/.
db/clean/clean-answers.csv
db/clean/clean-photos.csv
db/clean/clean-questions.csv

todo.txt
db/models/practice.js

schemaDesigns/.
newrelic.js
newrelic_agent.log

loaderio-0e47a0b3edf062577cff80d672b4d136.txt